@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Definicion de variables generales */
:root {
    --main-color-light: #F2EFE5;
    --secondary-color-light: #F6F6F6;
    --tertiary-color-light: #79fd79;
    
    --main-color-dark: #222;
    --secondary-color-dark: #333;
    --tertiary-color-dark: #ffcc00;
    
    --font-open-sans: "Open Sans", sans-serif;
}

/* Reseteo de estilos predeterminados del navegador */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos generales del documento */
body {
    background-color: var(--main-color-light);
    color: black;
    font-family: var(--font-open-sans);
    transition: background-color 0.3s ease, color 0.3s ease;
}

header {
    background-color: #fff;
    padding: 6px;
}

/* Contenedores */
#active-page {
    color: var(--tertiary-color-light);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
}

.header_menu {
    display: flex;
    gap: 30px;
}

.header_menu_anchor {
    font-family: var(--font-open-sans);
    font-size: 1rem;
    font-weight: 700;
    color: #394651;
    text-decoration: none;
    padding: 10px;
}

.header_menu_anchor:hover {
    transform: scale(1.07);
    color: #bea0ba;
}

.theme-toggle-button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#theme-toggle {
    color: black;
    transition: transform 0.3s ease, color 0.3s ease;
    background-color: #E8E8E8;
    padding: 8px;
    border-radius: 50%;
}

#theme-toggle:hover {
    background-color: #DEDEDE;
}

/* Parent container */
.parent_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 6% 6% 6%;
    gap: 82px;
}

.p_container_content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.p_container_description {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.p_container_links_anchor {
    width: 40%;
    text-align: center;
    padding: 15px 0;
    border-radius: 8px;
    font-family: var(--font-open-sans);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: gray;
    border: 2px solid var(--tertiary-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.p_container_links_anchor:hover {
    background-color: #272727;
}

.p_container_content_subtitle {
    font-family: var(--font-open-sans);
    font-size: 1rem;
    font-weight: 700;
}

.p_container_content_image {
    width: 30%;
}

.p_container_content_strong {
    color: var(--tertiary-color-light); 
}

.p_container_content_strong:hover {
    color: #bea0ba;
}

.p_container_content_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-family: var(--font-open-sans);
    margin: 2%;
    color: black;
}

.p_containter_content_text {
    font-size: 1rem;
    font-family: var(--font-open-sans);
}

.p_containter_content_text a {
    text-decoration: none;
    color: var(--tertiary-color-light);
}

.p_containter_content_text_strong:hover {
    color: #bea0ba;
}

.description-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-tech-image {
    width: 40px;
    height: 40px;
}

.footer {
    background-color: var(--tertiary-color-light);
    padding: 1.5rem;
    color: black;
    text-align: center;
    font-size: 1rem;
    font-family: var(--font-open-sans);
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-menu {
    display: flex;
    justify-content: row;
    gap: 24px;
}

.footer-image {
    width: 40px;
    height: 40px;
}

.footer-image:hover {
    transform: scale(1.07);
}

.footer-mail {
    text-decoration: none;
    color: black;
}

.footer-mail:hover {
    color: #DEDEDE;
}

/* Estilos para tema oscuro */
body.dark-theme {
    background-color: var(--main-color-dark);
    color: white;
}

body.dark-theme header {
    background-color: var(--secondary-color-dark);
    color: white;
}

body.dark-theme .header_menu_anchor {
    color: #fff;
}

body.dark-theme .p_container_content_title {
    color: #fff;
}

body.dark-theme .theme-toggle-button {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.header.dark-theme #theme-toggle {
    background-color: #333;
}

.header.dark-theme #theme-toggle:hover {
    background-color: #444;
}

.header.dark-theme .header_menu_anchor {
    color: white;
}

/* Estilos responsivos*/
@media (max-width: 1200px) {
    .header {
        padding: 10%;
    }

    .header_menu {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .parent_container {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .p_container_content {
        width: auto;
    }
}